body {
    margin: 0;
    font-family: Karla;
}

#container {
    width: 550px;
    height: 550px;
    box-sizing: border-box;
    background: #1F2937;
    padding: 0 52px;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    color: white;
    margin: 0;
    padding-top: 120px;
    line-height: 1;
}

.headingGreen {
    color: #4ADF86;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    color: #D5D4D8;
    margin: 0;
    padding: 10px 0 50px 0;
}

button {
    color: white;
    background: #10B981;
    padding: 9px 16px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: none;
    font-family: Karla;
    font-size: 16px;
}

hr {
    border-color: #273549;
    border-style: solid;
    border-width: 1px 0 0 0;
}

#rectangles {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#rectangle-one, #rectangle-two {
    height: 39px;
    width: 211px;
    background-color: #273549;
    border-radius: 6px;
}